/* stylelint-disable scss/at-rule-no-unknown */
// Colors
$primary-color: #5957db !default;
$secondary-color: #43d000 !default;
$tetriary-color: #ecf2ff !default;
$quaternary-color: #666 !default;

$body-bg: #fff !default;
$body-color: $primary-color !default;

// Typography
$main-font: "Montserrat", "Arial", sans-serif !default;
