.main {
  display: grid;
  grid-area: main;
  grid-template-areas: "l r";
  grid-template-columns: 1fr 360px;
  align-items: start;

  &__wrapper {
    grid-area: l;
    height: 100%;
    padding: 60px;
  }
}
